<main>
<div class= "container">
  <div class="contact" >
    <h5>新規投稿</h5>
    <% if @post.errors.any? %>
      <%= @post.errors.count %>件のエラーが発生しました
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>



      <dl>
    <%= form_with model: @post, url: '/posts', method: :post, local: true  do |f| %>
        <dt>お店の名前</dt>
        <dd><%= f.text_field :title %></dd>
        <dt>画像</dt>
        <dd><%= f.file_field :image, width: '20%', height: '20%' %></dd>
        <dt>本文</dt>
        <dd><%= f.text_area :post_text %></dd>
        <dt>ジャンル</dt>
        <dd><%= f.collection_select :genre_id, @genres, :id, :name %></dd>
        <dt>価格帯</dt>
        <dd><%= f.select :price, Post.prices %></dd>
        <dt>取り扱いブランド</dt>
        <dd><%= f.collection_check_boxes(:hushtag_ids, Hushtag.all, :id, :name,{include_hidden: false}, html_options: {}) %></dd>
        <dt><%= f.label :adress, '住所' %></dt>
        <dd><%= f.text_field :address %></dd>
        　　<%= link_to "戻る", user_path(@user),  class: "button" %>
　　　　　　<%= f.submit '投稿',  class: "button" %>
　　<% end %>
　　   </dl>
　</div>


</main>
