<h3>ジャンル登録</h3>

  <%= form_with model: @genre, url: admin_genres_path, method: :post do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <%= f.submit '投稿' %>
  <% end %>

 <h3>ジャンル一覧</h3>
  <% @genres.each do |genre| %>
    <%= genre.name %>
    <%=link_to '編集する', edit_admin_genre_path(genre.id), class: 'button' %>
  <% end %>