<main>

<%= form_tag posts_path, method: :get, class: 'boards__searchForm' do %>
      <%= select_tag :hushtag_id,
                     options_from_collection_for_select(Hushtag.all, :id, :name, params[:hushtag_id]),
                     {
                       prompt: 'タグで絞り込み検索',
                       onchange: 'submit(this.form);'
                     }
      %>
    <% end %>


<h5>投稿一覧</h5>
<div class="d-flex px-2 py-3">

  <% @posts.each do |post| %>
    <div class="card mr-4" style="width:calc(50% - .25rem)">
        <%= link_to admin_post_path(post.id) do %>
          <%= image_tag post.get_image,class:"card-img-top"; %>
        <% end %>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <p class="card-title">
              <strong><i class="far fa-flag"></i><span><%=link_to post.title, admin_post_path(post.id)  %></span></strong>
            </p>
            <p class="card-text">説明：<%= post.post_text %></p>
            <p><i class="fas fa-user"></i> By <%= post.user.name%></span></p>
            <span><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></span>
          </div>
        </div>
      </div>
  </div>
  <% end %>
 </div>
  <%= paginate @posts %>
</main>
