<main>

<%= form_tag posts_path, method: :get, class: 'boards__searchForm' do %>
      <%= select_tag :hushtag_id,
                     options_from_collection_for_select(Hushtag.all, :id, :name, params[:hushtag_id]),
                     {
                       prompt: 'タグで絞り込み検索',
                       onchange: 'submit(this.form);'
                     }
      %>
    <% end %>


<div class= "wrapper">
	<div class="row row-eq-height">
  <% @posts.each do |post| %>
     <div class="col-12 col-md-8 col-lg-2 text-card-container">
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.get_image,class:"card-img-top"; %>
    <% end %>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <p class="card-title">

            <%= link_to(post_path(post.id), class:"text-dark") do %>
              <strong><i class="far fa-flag"></i><span><%= post.title %></span></strong>
            <% end %>
          </p>
          <p class="card-text">説明：<%= post.post_text %></p>
          <p><i class="fas fa-user"></i> By <%= post.user.name%></span></p>
          <span>
                <p>
                  <%= link_to post_favorites_path(post), method: :delete do %>
                    ♥<%= post.favorites.count %> いいね
                  <% end %>
                </p>
                <p>
                  <%= link_to post_favorites_path(post), method: :post do %>
                    ♡<%= post.favorites.count %> いいね
                <% end %>
          |</span>
          <span><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></span>
        </div>
      </div>
    </div>
  </div>
  <% end %>
 </div>
</div>
  <%= paginate @posts %>

</main>
