<main>
  <h5>投稿詳細</h5>
  <dt>お店の名前</dt>
  <dd><%= @post.title %></dd>
  <dt>説明</dt>
  <dd><%= @post.post_text %></dd>
  <dt>ジャンル名</dt>
  <dd><%= @post.genre.name %></dd>
  <dt>価格帯</dt>
  <dd><%= @post.price %></dd>
  <dt>取り扱いブランド名</dt>
  <dd><% @post.hushtags.each do |hushtag| %>
      <%= hushtag.name %>
    <% end %></dd>

  <div class="img-container">
    <%= image_tag @post.get_image, width: '30%', height: '30%' %>
  </div>

  <div>
    <p>コメント件数：<%= link_to admin_post_path(@post) do %><%= @post.post_comments.count %><% end %></p>
      <% @post.post_comments.each do |post_comment| %>
        <%= post_comment.user.name %>
        <%= post_comment.created_at.strftime('%Y/%m/%d')%><%= post_comment.comment %>
        <%= link_to "削除", admin_post_post_comment_path(post_comment.post, post_comment), method: :delete %>
      <% end %>
  </div>
</main>
