<main>
	<div class= "container">
		<!--検索フォーム-->
<%= search_form_for @q do |f| %>
  <!--name_contは、あいまい検索を指定-->
  <%= f.text_field :name_cont %>
  <%= f.submit "検索" %>
<% end %>
<!--検索結果-->
<% if @users.present? %>
  <!--検索がヒットした場合-->
<% else %>
  <!--検索がヒットしなかった場合-->
  <p>検索結果はありません</p>
<% end %>

  <table class="table table-bordered">

	<thead>
		<th>会員ID</th>
		<th>名前</th>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.id %></td>
				<td><%= link_to user.name, user_path(user) %></td>

				<td><%= link_to "詳細", user_path(user), class: "button" %></td>
			</tr>
		<% end %>
	</tbody>
	  <%#= paginate @users %>
	</div>
</table>
</div>
</main>