
<main>

  <div class="container">
    <h5>ユーザー詳細</h5>
    <div class="row">
      <div class="col">
        <table>
          <tr>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <%if @user.image.attached?%>
              <td><%= image_tag @user.get_image, class: "rounded-circle", size: "200x200" %></td>
            <%else%>
              <td><%= image_tag asset_path("no_image.jpg"), class: "rounded-circle", size: "200x200" %></td>
            <%end%>
          </tr>
          <tr>
            <td>
               <% if current_user != @user%>
                <% if current_user.following?(@user) %>
                <%= link_to "フォロー外す", user_relationships_path(@user), method: :delete %>
                <% else %>
                <%= link_to "フォローする", user_relationships_path(@user), method: :post %>
                <% end %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td> <%= link_to "フォロー", user_followings_path(@user) %><%= @user.followings.count %></td>
          </tr>
          <tr>
            <td><%= link_to "フォロワー", user_followers_path(@user) %><%= @user.followers.count %></td>
          </tr>
        </table>
          <%= link_to "編集", edit_user_path(@user),  class: "button" %>
      </div>
    </div>


    <div class="d-flex px-2 py-3">
      <% @posts.each do |post| %>
        <div class="card mr-4" style="width:calc(50% - .25rem)">
          <%= link_to post_path(post.id) do %>
            <%= image_tag post.get_image,class:"card-img-top"; %>
          <% end %>

        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <p class="card-title">
                <strong><i class="far fa-flag"></i><span><%=link_to post.title, post_path(post.id)  %></span></strong>
              </p>
              <p class="card-text">住所：<%= post.address %></p>
              <p><i class="fas fa-user"></i> By <%= post.user.name%></span></p>
              <span><% if post.favorited_by?(current_user) %>
              <p>
                <%= link_to post_favorites_path(post), method: :delete do %>
                  ♥<%= post.favorites.count %> いいね
                <% end %>
              </p>
                <% else %>
              <p>
                <%= link_to post_favorites_path(post), method: :post do %>
                  ♡<%= post.favorites.count %> いいね
                <% end %>
                <% end %>
             |</span>
             <span><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></span>
            </div>
          </div>
        </div>
        </div>

      <% end %>
    </div>
 <%#= paginate @posts %>
  </div>
</main>